<h1>{{ post.title }}</h1>

<img src="{{ post.photo.url }}" />
<hr/>
{{ post.content}}
<hr/>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=833781550004786";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="http://maingate-askdjango.azurewebsites.net/" data-width="900" data-numposts="5"></div>
<a href="{% url "blog.views.post_list" %}>글목록으로</a>